assets/knight/models/knight.fbx filter=lfs diff=lfs merge=lfs -text
assets/knight/models/textures/clothColor.png filter=lfs diff=lfs merge=lfs -text
assets/knight/models/textures/weaponsColor.png filter=lfs diff=lfs merge=lfs -text
assets/knight/models/textures/weaponsNormal.png filter=lfs diff=lfs merge=lfs -text
assets/knight/models/textures/knight1Color.png filter=lfs diff=lfs merge=lfs -text
assets/knight/models/textures/knight1Normal.png filter=lfs diff=lfs merge=lfs -text
assets/knight/models/textures/clothNormal.png filter=lfs diff=lfs merge=lfs -text
assets/stars.csv/hygxyz.csv filter=lfs diff=lfs merge=lfs -text
assets/grass.png filter=lfs diff=lfs merge=lfs -text
assets/Cederberg[[:space:]]Mountains[[:space:]]Height[[:space:]]Map[[:space:]](Merged).png filter=lfs diff=lfs merge=lfs -text
assets/house1/Concrete.jpg filter=lfs diff=lfs merge=lfs -text
assets/house1/PMedievalHouse.FBX filter=lfs diff=lfs merge=lfs -text
assets/house1/Thatched.jpg filter=lfs diff=lfs merge=lfs -text
assets/house1/Wood_Lum.jpg filter=lfs diff=lfs merge=lfs -text
assets/house1/WoodStud.png filter=lfs diff=lfs merge=lfs -text
assets/house1/_2.png filter=lfs diff=lfs merge=lfs -text
assets/house1/BrickO01.jpg filter=lfs diff=lfs merge=lfs -text
assets/house1/BrickOld.png filter=lfs diff=lfs merge=lfs -text
assets/house1/PlanksOl.jpg filter=lfs diff=lfs merge=lfs -text
assets/house2/Texture/Medieval_House_Diff.png filter=lfs diff=lfs merge=lfs -text
assets/house2/Texture/Medieval_House_Nor.png filter=lfs diff=lfs merge=lfs -text
assets/house2/Texture/Medieval_House_Spec.png filter=lfs diff=lfs merge=lfs -text
assets/house2/house.mtl filter=lfs diff=lfs merge=lfs -text
assets/house2/Medieval_House.obj filter=lfs diff=lfs merge=lfs -text
