textures/cobblestones-normal.jpg filter=lfs diff=lfs merge=lfs -text
textures/forest.jpg filter=lfs diff=lfs merge=lfs -text
textures/forest-normal.jpg filter=lfs diff=lfs merge=lfs -text
textures/clay.jpg filter=lfs diff=lfs merge=lfs -text
textures/clay-normal.jpg filter=lfs diff=lfs merge=lfs -text
textures/stone.jpg filter=lfs diff=lfs merge=lfs -text
textures/cobblestones.jpg filter=lfs diff=lfs merge=lfs -text
assets/** filter=lfs diff=lfs merge=lfs -text
