---
---

@import "{{ site.theme }}";

html {
  background-color: #6c7989;
}

body {
  background-image: url("../../static/header.jpg");
  background-color: #6c7989;
  background-repeat: no-repeat;
  padding-bottom: 0;
}
